/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航条start */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}
.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li {
    float: left;
}
.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a {
    padding-left: 0;
}
.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/*  #endregion顶部导航条end */


/* #region头部start */
.header {
    height: 120px;
    /* background-color: skyblue; */
}
.header .search form {
    margin-top: 42px;
    font-size: 0;
}
.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}
/* #endregion头部end */


/* #region主导航start */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.main-nav .all-types {
    width: 190px;
    height: 48px;
    line-height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    font-size: 16px;
}
.main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav-list li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

/* #endregion主导航end */

/* #region头部start */

.main-content {
    margin-top: 10px;
}
.main-content .slide-nav {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
}
.main-content .slide-nav li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-content .slide-nav li:hover {
    background-color: #DD302D;
}
.main-content .slide-nav li:hover a {
    color: white;
}






.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: green;
    margin: 0 10px;
}
.main-content .slide-other {
    width: 290px;
    height: 458px;
    background-color: orange;
}

/* #endregion头部end*/
