html {
  font-size: 12px;
  color: #333;
}

.container {
  font-size: 14px;
  .header {
    width: 50%;
    height: 30px;
    .left {
      float: left;
    }
  }
  .footer {
    background-color: green;
  }
  &::after {
    display: inline-block;
    float: left;
  }
}
